div.row >div{
    height: 80px;
}

nav,footer{
    background-color: #29FE2F;
}
#divNumeros > div:not(.blank){
    background-color: #88ABDD;
    border: 1px solid black;
    /*margin: 15px;/*/
}
#divLetras div{
    background-color: #664a1f;
    border: 1px solid black;
}
.device{
    background-color: #006eff;
}
#caras div{
    background-color: #FE9A5D;
    text-align: center;
}

#caras div:not(:first-child){
    font-weight: bold;
}