* {
    box-sizing: border-box;
}

/* Pequeños reseteos */
h1,
h3,
h4,
p {
    margin: 0px;
    padding: 0.5em;
}
body {
    background-color: white;
}

/* Para cambir el color de leta de ciertos elementos */
.verde {
    color: #0c9b3b;
}

/* Contenedor general*/
.container {
    font-family: "Righteous", cursive;
    margin: 20px auto;
    width: 90%;
}

/* Parte del logo y menú */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.icon {
    display: none;
}

.menu_item {
    padding: 0.1em;
    /*display: none;*/
    font-size: 0.75em;
}

/*Estilos parte principal*/
main {
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;
}

main section {
    width: 100%;
}

section.main_text {
    color: white;
    font-weight: bolder;
    padding: 0.5em;
}

section.images {
    display: flex;
    flex-wrap: wrap;
}

section.images img {
    height: 100px;
    width: 25%;
}

.hidden {
    display: none;
}

/* Para el caso de pantalla superior a 576px */
@media (min-width: 576px) {
    .icon{
        display: block;
        float: left;
    }
    .menu_item{
        float: left;
        font-size: 1em;
        margin: 0 10px;
    }
    .main_text,.images{
        width: 50%;

    }
    section.images img{
        float: left;
        width: 50%;
        height: 25%;
    }

    section.novedades h2{
        width: 25%;
        height: 100%;
        float: left;
    }

    section.novedades article{
        width: 25%;
        height: 100%;
        float: left;
    }


}

/* Para el caso de pantalla superior a 992px */
@media (min-width: 992px) {

    .menu_item{
        float: left;
        font-size: 1em;
        margin: 0 10px;
    }
    .main_text,.images{
        height: 500px;

    }
    main{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;

    }
    .main_text{

    }
    .images{


    }






}
