#contenedor{
  width: 90%;
  position: relative;
  margin: 30px auto;
  padding: 30px;
 //background: red;


  .caja{
    position: relative;
    margin: 30px 10px;
    height: 200px;
    background: white;
    border-radius: 10px;
    border: 1px solid black;
    *{
      height: 90%;
      float: left;
    }
    p{
      width: 75%;
      padding: 5px;
    }
    img{
      width: 15%;
      padding: 1%;
    }
    &:nth-child(even) img{
      float: right;
    }
  }
}


