//zona del header
header{
  position: relative;
  height: 150px;
  width: 100%;
  background-color: $colorPrimario;
  &>img{
    float: left;
    width: 30%;
    height: 60px;
    margin: 45px 50px;
  }
  h1{
    float: left;
    width: 40%;
    height: 50px;
    margin: 45px 0;
    text-align: center;
  }
  div#idioma{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 250px;
    height: 50px;
    overflow: hidden;
    *{
      float: left;
      margin-left: 10px;
    }
    img{
      height: 20px;
      width: 30px;
    }
  }
}