//menu de navegación
nav{
  background-color: #14550a;
  position: relative;
  //float: left;
  width: 100%;
  ul{
    user-select: none;
    width: 85%;
    margin: 0 auto;
    list-style: none;
    height: 40px;
    padding: 15px;
    li{
      width: 18%;
      border: black 1px solid;
      height: 25px;
      background-color: #0c9b3b;
      float: left;
      padding: 0.5%;
      @include transiciones(background-color,0.4s);
      transition: box-shadow ease-in-out 1s;
      box-shadow: 0;
      &.active{
        @include transiciones(background-color,0.4s);
        background-color: #30B037;
      }
      &:hover{

        @include transiciones(background-color,0.4s);
        background-color: #2D8652;
        transition: box-shadow ease-in-out 1s;
        box-shadow: #422B24 5px 5px;
      }
      &:active{
        background-color: #0c9b3b;
      }
    }
  }
  &:before{
    clear: both;
  }
}
