body {
    margin: 10px 10%;
    background-color: #997366;
    font-family: sans-serif;
    font-size: 1.3em;
    text-align: justify;
}

h1 {
    margin: 0;
    font-size: 3em;
    text-align: center;
}
h2 {
    margin: 0;
    padding-left: 10px;
    background-color: white;
}
header {
    padding: 0 10px;
    background-color: #9D847B;
}

main {
    padding: 10px;
    border: white 2px solid;
}

section {
    padding-bottom: 5px;
    background-color: #B39F98;
}
section>p {
    border: #422B24 10px solid;
    color: white;
    padding: 10px;
    margin: 20px 10%;

    line-height: 200%;
}
section + section {
    margin-top: 40px;
}

footer {
    background-color: #9D847B;
    border-top: black 5px solid;
    margin: 20px 0;
    font-size: 1em;
    padding: 0 10px;

}