body{
    font-family: sans-serif;
    background-color: #FFEACC;
}
h1{
    color: #AF5D00;
    text-transform: uppercase;
}

h3{
    color: #FF9500;
    font-size: 2em;
    font-weight: unset;

}
details p{
    font-size: 2em;
}
summary{
    font-size: 4em;
}
.bred{
    background-color: #FFCCEA;
}
.bwhite{
    background-color: white;
}